<div class="container py-5">

  <div class="row">

    <div class="col-md-3">

      <div class="card p-4">

        <h4 class="text-dark mb-4">

          Admin Panel

        </h4>

        <div class="d-grid gap-2">

          <a
            routerLink="/admin/projects"
            class="btn btn-dark"
          >
            Projects
          </a>

          <a
            routerLink="/admin/skills"
            class="btn btn-dark"
          >
            Skills
          </a>

          <a
            routerLink="/admin/experience"
            class="btn btn-dark"
          >
            Experience
          </a>

          <a
            routerLink="/admin/contacts"
            class="btn btn-dark"
          >
            Contacts
          </a>

        </div>

      </div>

    </div>

    <div class="col-md-9">

      <div class="card p-5">

        <h1 class="text-dark">

          Welcome Admin 🚀

        </h1>

      </div>

    </div>

  </div>

</div>
