<div class="container py-5">

  <div class="card p-5">

    <h2 class="mb-4 text-dark">

      {{
        isEditMode
          ? 'Edit Experience'
          : 'Create Experience'
      }}

    </h2>

    <!-- Company -->

    <div class="mb-3">

      <label class="form-label">

        Company Name

      </label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="experience.companyName"
      >

    </div>

    <!-- Position -->

    <div class="mb-3">

      <label class="form-label">

        Position

      </label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="experience.position"
      >

    </div>

    <!-- Start Date -->

    <div class="mb-3">

      <label class="form-label">

        Start Date

      </label>

      <input
        type="date"
        class="form-control"
        [(ngModel)]="experience.startDate"
      >

    </div>

    <!-- End Date -->

    <div class="mb-3">

      <label class="form-label">

        End Date

      </label>

      <input
        type="date"
        class="form-control"
        [(ngModel)]="experience.endDate"
        [disabled]="experience.currentlyWorking"
      >

    </div>

    <!-- Currently Working -->

    <div class="form-check mb-3">

      <input
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="experience.currentlyWorking"
      >

      <label class="form-check-label">

        Currently Working Here

      </label>

    </div>

    <!-- Description -->

    <div class="mb-4">

      <label class="form-label">

        Description

      </label>

      <textarea
        rows="5"
        class="form-control"
        [(ngModel)]="experience.description"
      ></textarea>

    </div>

    <!-- Save -->

    <button
      class="btn btn-dark"
      (click)="saveExperience()"
      [disabled]="isSaving"
    >

      {{
        isSaving
          ? 'Saving...'
          : 'Save Experience'
      }}

    </button>

  </div>

</div>
