.sidebar {

  width: 260px;

  min-height: 100vh;

  background: #111827;

  padding: 30px 20px;

  display: flex;

  flex-direction: column;

  gap: 10px;

}

.logo {

  color: white;

  margin-bottom: 30px;

  font-weight: 700;

}

.sidebar a {

  text-decoration: none;

  color: #d1d5db;

  padding: 14px 16px;

  border-radius: 10px;

  transition: 0.3s;

  font-weight: 500;

}

.sidebar a:hover {

  background: #1f2937;

  color: white;

}

.sidebar a.active {

  background: #2563eb;

  color: white;

}
