.menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu a {
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 5px;
}

.menu a:hover {
  background: #374151;
}

.active {
  background: #2563eb;
}
