<nav class="sidebar">

  <h4 class="logo">

    Admin Panel

  </h4>

  <a routerLink="/admin/dashboard" routerLinkActive="active" > Dashboard </a>

  <a routerLink="/admin/projects"  routerLinkActive="active" > Projects </a>

  <a routerLink="/admin/skills"  routerLinkActive="active" > Skills </a>

  <a routerLink="/admin/profile"  routerLinkActive="active" > Profile </a>

  <a routerLink="/admin/experience" routerLinkActive="active" > Experience </a>

  <a routerLink="/admin/contacts"  routerLinkActive="active" > Contacts </a>

</nav>
