<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

  <!-- LOGO -->

  <a
    class="navbar-brand fw-bold"
    routerLink="/"
  >

    Rifat Portfolio

  </a>

  <!-- MOBILE BUTTON -->

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
  >

    <span class="navbar-toggler-icon"></span>

  </button>

  <!-- MENU -->

  <div
    class="collapse navbar-collapse"
    id="navbarNav"
  >

    <ul class="navbar-nav ms-auto">

      <li class="nav-item">

        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >

          Home

        </a>

      </li>

      <li class="nav-item">

        <a
          class="nav-link"
          routerLink="/projects"
          routerLinkActive="active"
        >

          Projects

        </a>

      </li>

      <li class="nav-item">

        <a
          class="nav-link"
          routerLink="/skills"
          routerLinkActive="active"
        >

          Skills

        </a>

      </li>

      <li class="nav-item">

        <a
          class="nav-link"
          routerLink="/experience"
          routerLinkActive="active"
        >

          Experience

        </a>

      </li>

      <li class="nav-item">

        <a
          class="nav-link"
          routerLink="/contact"
          routerLinkActive="active"
        >

          Contact

        </a>

      </li>

    </ul>

  </div>

</nav>
