<div class="container py-5">

  <!-- Header -->

  <div
    class="d-flex justify-content-between align-items-center mb-4"
  >

    <h2 class="fw-bold text-dark">

      Contact Messages

    </h2>

  </div>

  <!-- Table -->

  <div class="card border-0 shadow-sm p-4">

    <div class="table-responsive">

      <table class="table align-middle">

        <thead>

        <tr>

          <th>Name</th>

          <th>Email</th>

          <th>Subject</th>

          <th>Message</th>

          <th>Action</th>

        </tr>

        </thead>

        <tbody>

        <tr
          *ngFor="let contact of contacts"
        >

          <td>

            {{ contact.name }}

          </td>

          <td>

            {{ contact.email }}

          </td>

          <td>

            {{ contact.subject }}

          </td>

          <td>

            {{ contact.message }}

          </td>

          <td>

            <button
              class="btn btn-danger btn-sm"
              (click)="deleteContact(contact.id!)"
            >

              Delete

            </button>

          </td>

        </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
